{
  "presets": ["react",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "6.5"
        }
      }
    ]
  ],
  "ignore": ["third_party"],
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-es2015-template-literals",
    "transform-es2015-literals",
    "transform-es2015-block-scoped-functions",
    "transform-es2015-object-super",
    "transform-es2015-computed-properties",
    "check-es2015-constants",
    ["transform-es2015-spread", { "loose": true }],
    "transform-es2015-parameters",
    ["transform-es2015-block-scoping", { "throwIfClosureRequired": true }]
  ]
}
